{{ define "main" }}
<section id="publications" class="py-5">
    <div class="container">
        <h3 class="text-center pb-2">{{ .Title }}</h3>
        <div class="row justify-content-center py-5">
            {{ $publications := .Site.RegularPages | where "Type" "publications" }}
            {{ $sortedPublications := sort $publications "Date" "desc" }}
            {{ range $index, $publication := $sortedPublications }}
            <div class="col-12 p-0">
                <div class="row align-items-center justify-content-center m-1 mb-4">
                    <div class="col-md-1 text-center me-2 p-0 d-none d-md-block">
                        <div class="py-2">
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <small>{{ $publication.Date.Format "January 2, 2006" }}</small>
                                </div>
                                <h5 class="card-title">{{ $publication.Title }}</h5>

                                {{ if $publication.Params.journal }}
                                <h6>{{ $publication.Params.journal }}</h6>
                                {{ end }}

                                <div class="py-1">
                                    {{ $publication.Params.authors | join ", " }}
                                </div>

                                {{ if $publication.Params.doi }}
                                <div class="py-1">
                                    DOI:
                                    <a href="https://doi.org/{{ $publication.Params.doi }}" target="_blank">
                                        {{ $publication.Params.doi }}
                                    </a>
                                </div>
                                {{ end }}

                                {{ if $publication.Params.pdf }}
                                <div class="py-1">
                                    <a href="{{ $publication.Params.pdf }}" class="btn btn-primary" target="_blank">
                                        Download PDF
                                    </a>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
