{{ define "main" }}
<div class="d-flex flex-column min-vh-100">
    <div class="container pt-5 flex-grow-1" id="projects-page">
        <h2 class="text-center pb-2">{{.Title}}</h2>
        <div class="row">
            {{ $paginator := .Paginate (where .Pages "Type" "projects") 5 }}
            {{ range $paginator.Pages }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card">
                    {{ if .Params.image }}
                    <div class="card-header">
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}">
                        </a>
                    </div>
                    {{ end }}
                    <div class="card-body">
                        <a href="{{ .RelPermalink }}" class="card-title">
                            <h5>{{ .Title }}</h5>
                        </a>
                        <p>{{ .Params.description | truncate 100 }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                {{ template "_internal/pagination.html" $paginator }}
            </div>
        </div>
    </div>
</div>
{{ end }}